html, body {
    margin: 0;
    padding: 0;
    font-family: Barlow, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #333;
}

body {
    background-image: url(../img/interlaced.png);
}

strong {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

div.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 42px;
    margin: 40px 0 20px 0;
    text-align: center;
}

h2.subtitle {
    font-weight: 400;
    font-size: 28px;
    margin: 10px 0;
    text-align: center;
}

div.description {
    max-width: 800px;
}

div.tag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, .25);
    width: max(50%, 300px);
    border-radius: 10px;
    padding: 15px;
}

div.tag-list h3 {
    margin: 0 0 15px 0;
}

div.tag-list .tag-buttons {
    line-height: 28px;
    text-align: center;
}

div.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.main-content .filter-message {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.main-content.filtered .filter-message {
    display: flex;
}

div.main-content .filter-message h2 {
    margin: 15px 0;  
}

div.main-content .filter-message span.current-tag {
    display: inline-block;
    background-color: rgba(255, 255, 255, .4);
    color: #666;
}

div.main-content hr.filter-top {
    width: max(50%, 300px);
    border-color: #333;
    position: relative;
    overflow: visible;
    display: none;
}

div.main-content.filtered hr.filter-top {
    display: block;
}

div.main-content hr.filter-top:before,
div.main-content hr.filter-top:after {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: #333;
    bottom: -6px;
    left: -6px;
}

div.main-content hr.filter-top:after {
    left: auto;
    right: -6px;
}
button.clear-filter {
    display: none;
    appearance: none;
    outline: none;
    border: none;
    color: #633;
    background-color: #fff7f7;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

div.main-content.filtered button.clear-filter {
    display: inline-block;
}

button.clear-filter:hover {
    text-decoration: underline;
}

div.main-content ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    position: relative;
}


div.main-content ul li.shop {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    max-width: calc(100% - 40px);
}

div.main-content ul li.shop.hidden {
    display: none;
}

h3.shop-name {
    font-size: 24px;
    margin: 10px 0;
}

li.shop a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

li.shop p.shop-link a {
    color: #33f;
    text-decoration: none;
}

li.shop div.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

li.shop div.carousel img {
    width: 400px;
    display: none;
}

li.shop div.carousel img.active {
    display: block;
}

li.shop .carousel-controls {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    max-width: 100%;
}

button.carousel-control-button, button.image-dot {
    appearance: none;
    outline: none;
    background: transparent;
    border: none;
    padding: 0;
}

button.carousel-control-button {
    width: 10px;
    height: 10px;
    border-left: 3px solid #333;
    border-top: 3px solid #333;
}

button.carousel-control-button.previous {
    transform: rotate(-45deg);
}

button.carousel-control-button.next {
    transform: rotate(135deg);
}

.image-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

button.image-dot {
    background-color: #f7f7f7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
}

button.image-dot.active {
    background-color: black;
}

p.shop-description {
    font-style: italic;
}

p.tags {
    margin: 0;
    font-size: .8em;
}

button.tag {
    appearance: none;
    outline: none;
    border: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, .4);
    color: #666;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
}

button.tag.active {
    background-color: #efe;
    color: #363;
}

