<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Independent Map Sellers" />
    <meta property="og:url" content="https://mapartists.org" />
    <meta property="og:image" content="https://mapartists.org/assets/img/logo.jpg" />
    <meta property="og:description" content="A shopping guide offered by the Independent Map Artists" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <title>{{ page.title | default: site.title }}</title>
</head>

<body>
    <div class="site-wrapper">
        <h1>{{site.title}}</h1>
        <h2 class="subtitle">{{site.subtitle}}</h2>
        <div class="description">
            <p>
                {{site.description}}
            </p>
        </div>
        
        <div class="main-content">
            <div class="tag-list">
                <h3>Find shops by tag <button class="tag-list-toggle"></button></h3>
                <div class="tag-buttons">
                    {% assign tags =  site.data.shops | map: 'tags' | join: ','  | split: ',' | uniq | sort_natural %}
                    {% for tag in tags %}
                    <button class="tag">{{tag}} </button>
                    {% endfor %}
                    <button class="clear-filter">&times; Show all shops</button>
                </div>
            </div>
            <div class="filter-message">
                <h2>Shops tagged <span class="current-tag"></span></h2>
            </div>
            <hr class="filter-top main-header">
            <ul class="main">
                {% for shop in site.data.shops %}
                <li class="shop" tags="{{ shop.tags | join: ','}}">
                    
                        <div class="carousel">
                            {% for image in shop.images %}
                            <a href="{{ shop.link }}" target="_blank">
                            <img src="{{ site.baseurl }}/assets/img/shops/{{ image.src }}" {% if forloop.first==true %}
                                class="active" {% endif %} alt="{{image.text}} from {{ shop.name }}" title="{{image.text}}">
                            </a>
                            {% endfor %}
                        </div>
                        {% if shop.images.size > 1 %}
                        <div class="carousel-controls">
                            <button aria-label="previous image" class="carousel-control-button previous"></button>
                            <div class="image-dots">
                                {% for image in shop.images %}
                                <button aria-label="change image"
                                    class="image-dot {% if forloop.first == true %} active {% endif %}"></button>
                                {% endfor %}
                            </div>
                            <button aria-label="next image" class="carousel-control-button next"></button>
                        </div>
                        {% endif %}
                    
                    <h3 class="shop-name"><a href="{{ shop.link }}" target="_blank">{{ shop.name }}</a></h3>
                    <p class="shop-description">{{ shop.description }}</p>
                    {% if shop.tags.size > 1 %}
                    <p class="tags">
                        {% for tag in shop.tags %}
                            <button class="tag">{{tag}} </button>
                        {% endfor %}
                    </p>
                    {% endif %}

                </li>
                {% endfor %}
            </ul>
            <div class="filter-message">
                <h2>Other shops</h2>
            </div>
            <hr class="filter-top">
            <ul class="other">

            </ul>
        </div>
    </div>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>